.dashboard-container {
  min-height: 100vh;
}
.dashboard-dashboard {
  width: 100%;
  height: 1600px;
  display: flex;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.dashboard-backgroundshape {
  top: 396px;
  left: 223px;
  width: 1216px;
  height: 809px;
  position: absolute;
  border-color: transparent;
  border-radius: 96px;
}
.dashboard-backgroundshape1 {
  top: 411px;
  left: 431px;
  width: 989px;
  height: 779px;
  position: absolute;
  border-color: transparent;
  border-radius: 96px;
}
.dashboard-rectangle7 {
  top: 559px;
  left: 963px;
  width: 245px;
  height: 57px;
  position: absolute;
  border-color: transparent;
  border-radius: 10px;
}
.dashboard-backgroundshape2 {
  top: 523px;
  left: 665px;
  width: 548px;
  height: 248px;
  position: absolute;
  border-color: transparent;
  border-radius: 50px;
}
.dashboard-backgroundshape3 {
  top: 820px;
  left: 667px;
  width: 740px;
  height: 334px;
  position: absolute;
  border-color: transparent;
  border-radius: 50px;
}
.dashboard-backgroundshape4 {
  top: 523px;
  left: 666px;
  width: 275px;
  height: 248px;
  position: absolute;
  border-color: transparent;
  border-radius: 50px;
}
.dashboard-backgroundshape5 {
  top: 523px;
  left: 939px;
  width: 274px;
  height: 248px;
  position: absolute;
  border-color: transparent;
  border-radius: 50px;
}
.dashboard-backgroundshape6 {
  top: 523px;
  left: 1236px;
  width: 171px;
  height: 248px;
  position: absolute;
  border-color: transparent;
  border-radius: 50px;
}
.dashboard-backgroundshape7 {
  top: 411px;
  left: 431px;
  width: 142px;
  height: 779px;
  position: absolute;
  border-color: transparent;
  border-radius: 96px 0 0 96px;
}
.dashboard-calendar1 {
  top: 623px;
  left: 479px;
  width: 47px;
  height: 46px;
  position: absolute;
  border-color: transparent;
}
.dashboard-calendar2 {
  top: 463px;
  left: 683px;
  width: 21px;
  height: 21px;
  position: absolute;
  border-color: transparent;
}
.dashboard-ellipse1 {
  top: 604px;
  left: 162px;
  width: 334px;
  height: 334px;
  position: absolute;
  border-color: transparent;
}
.dashboard-text {
  top: 420px;
  left: 584px;
  color: rgba(0, 0, 0, 1);
  width: 419px;
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Calibri;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.dashboard-text02 {
  top: 830px;
  left: 700px;
  color: rgba(0, 0, 0, 1);
  width: 188px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Calibri;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.dashboard-text04 {
  top: 538px;
  left: 726px;
  color: rgba(0, 0, 0, 1);
  width: 171px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Calibri;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.dashboard-ellipse2 {
  top: 577px;
  left: 732px;
  width: 159px;
  height: 159px;
  position: absolute;
}
.dashboard-ellipse6 {
  top: 656px;
  left: 733px;
  width: 80px;
  height: 79px;
  position: absolute;
}
.dashboard-ellipse3 {
  top: 586px;
  left: 741px;
  width: 141px;
  height: 141px;
  position: absolute;
}
.dashboard-ellipse4 {
  top: 717px;
  left: 801px;
  width: 22px;
  height: 22px;
  position: absolute;
}
.dashboard-ellipse5 {
  top: 650px;
  left: 731px;
  width: 22px;
  height: 22px;
  position: absolute;
  border-color: transparent;
}
.dashboard-text06 {
  top: 609px;
  left: 750px;
  color: rgba(0, 0, 0, 1);
  width: 89px;
  height: auto;
  position: absolute;
  font-size: 64px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.dashboard-text08 {
  top: 635px;
  left: 819px;
  color: rgba(0, 0, 0, 1);
  width: 76px;
  height: auto;
  position: absolute;
  font-size: 35px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.dashboard-text10 {
  top: 676px;
  left: 775px;
  color: rgba(0, 0, 0, 1);
  width: 83px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.dashboard-icons8speedometer641 {
  top: 564px;
  left: 972px;
  width: 46px;
  height: 46px;
  position: absolute;
  border-color: transparent;
}
.dashboard-hot1 {
  top: 695px;
  left: 972px;
  width: 46px;
  height: 47px;
  position: absolute;
  border-color: transparent;
}
.dashboard-heartattack1 {
  top: 629px;
  left: 972px;
  width: 46px;
  height: 47px;
  position: absolute;
  border-color: transparent;
}
.dashboard-rectangle1 {
  top: 583px;
  left: 1031px;
  width: 144px;
  height: 7px;
  position: absolute;
  border-color: transparent;
  border-radius: 10px;
}
.dashboard-rectangle3 {
  top: 650px;
  left: 1030px;
  width: 145px;
  height: 6px;
  position: absolute;
  border-color: transparent;
  border-radius: 10px;
}
.dashboard-rectangle4 {
  top: 712px;
  left: 1030px;
  width: 145px;
  height: 6px;
  position: absolute;
  border-color: transparent;
  border-radius: 10px;
}
.dashboard-rectangle2 {
  top: 583px;
  left: 1031px;
  width: 99px;
  height: 7px;
  position: absolute;
  border-color: transparent;
  border-radius: 10px;
}
.dashboard-rectangle5 {
  top: 650px;
  left: 1030px;
  width: 60px;
  height: 6px;
  position: absolute;
  border-color: transparent;
  border-radius: 10px;
}
.dashboard-rectangle6 {
  top: 712px;
  left: 1030px;
  width: 37px;
  height: 6px;
  position: absolute;
  border-color: transparent;
  border-radius: 10px;
}
.dashboard-text12 {
  top: 579px;
  left: 1178px;
  color: rgba(0, 0, 0, 1);
  width: 35px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Calibri;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.dashboard-text14 {
  top: 644px;
  left: 1178px;
  color: rgba(0, 0, 0, 1);
  width: 35px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Calibri;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.dashboard-text16 {
  top: 711px;
  left: 1178px;
  color: rgba(0, 0, 0, 1);
  width: 35px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Calibri;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.dashboard-chart {
  top: 877px;
  left: 700px;
  width: 669px;
  height: 140px;
  position: absolute;
  border-color: transparent;
  border-radius: 15px;
}
.dashboard-text18 {
  top: 940px;
  left: 886px;
  color: rgba(7, 252, 61, 1);
  width: 303px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Calibri;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.dashboard-text20 {
  top: 1088px;
  left: 881px;
  color: rgba(7, 252, 61, 1);
  width: 302px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Calibri;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.dashboard-account1 {
  top: 771px;
  left: 479px;
  width: 47px;
  height: 46px;
  position: absolute;
  border-color: transparent;
}
.dashboard-setting {
  top: 924px;
  left: 479px;
  width: 47px;
  height: 47px;
  position: absolute;
  border-color: transparent;
}
.dashboard-rocketlaunch1 {
  top: 600px;
  left: 1254px;
  width: 134px;
  height: 134px;
  position: absolute;
  border-color: transparent;
}
.dashboard-text22 {
  top: 537px;
  left: 1306px;
  color: rgba(255, 255, 255, 1);
  width: 38px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Calibri;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.dashboard-text24 {
  top: 559px;
  left: 1260px;
  color: rgba(255, 255, 255, 1);
  width: 124px;
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Calibri;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.dashboard-text26 {
  top: 463px;
  left: 697px;
  color: rgba(0, 0, 0, 1);
  width: 198px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Calibri;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
