.login-container {
  min-height: 100vh;
}
.login-login {
  width: 100%;
  height: 1600px;
  display: flex;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.login-backgroundshape {
  top: 400px;
  left: 192px;
  width: 1216px;
  height: 800px;
  position: absolute;
  border-color: transparent;
  border-radius: 96px;
}
.login-enterphone-name {
  top: 444px;
  left: 873px;
  width: 359px;
  height: 119px;
  position: absolute;
  border-color: transparent;
  border-radius: 30px;
}
.login-enteryour-o-phere {
  top: 800px;
  left: 873px;
  width: 359px;
  height: 119px;
  position: absolute;
  border-color: transparent;
  border-radius: 30px;
}
.login-text {
  top: 459px;
  left: 907px;
  color: rgba(215, 49, 93, 1);
  width: 287px;
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Calibri;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.login-text02 {
  top: 522px;
  left: 928px;
  color: rgba(215, 49, 93, 1);
  width: 223px;
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Calibri;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.login-text04 {
  top: 819px;
  left: 938px;
  color: rgba(215, 49, 93, 1);
  width: 236px;
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Calibri;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.login-text06 {
  top: 882px;
  left: 946px;
  color: rgba(215, 49, 93, 1);
  width: 214px;
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Calibri;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.login-login1 {
  top: 985px;
  left: 945px;
  width: 213px;
  height: 70px;
  position: absolute;
  border-color: transparent;
  border-radius: 50px;
}
.login-text08 {
  top: 1009px;
  left: 959px;
  color: rgba(215, 49, 93, 1);
  width: 186px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.login-text10 {
  top: 584px;
  left: 958px;
  color: rgba(255, 255, 255, 1);
  width: 184px;
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Calibri;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.login-logo {
  top: 529px;
  left: 192px;
  width: 537px;
  height: 520px;
  position: absolute;
  border-color: transparent;
}
